// Color Vars

$blue:              #302ac9;
$green-light:       #d1ffe5;
$green:      		#38cc80;
$green-light:       #45FE99;
$purple-light:      #948bff;
$purple:			#53354A;
$black: 			#000000;
$dark: 				#4A4A4A;
$gray3: 			#bcbfbf;
$gray2: 			#e2e6e9;
$gray1:             #DED8DC;
$white:				#ffffff;


// Helper Classes
.bg--blue               { background-color: $blue;           }
.bg--white              { background-color: $white;          }

.color--blue            { color: $blue;                      }
.color--green-light     { color: $green-light;               }
.color--green     		{ color: $green;               		 }
.color--green-light     { color: $green-light;      		 }
.color--purple          { color: $purple;                    }
.color--purple-light    { color: $purple-light;              }
.color--dark            { color: $dark;                      }
.color--black           { color: $black;                     }
.color--gray3           { color: $gray3;                     }
.color--gray2           { color: $gray2;                     }
.color--gray1           { color: $gray1;                     }
.color--white           { color: $white;                     }



.border-color--purple   { border-color: $purple;             }
