// Color Vars

$blue:              #302ac9;
$green-light:       #d1ffe5;
$dark: 				#4D4D4D;
$gray3: 			#bcbfbf;
$gray2: 			#e2e6e9;
$white:				#ffffff;


// Helper Classes
.bg--blue               { background-color: $blue;           }

.color--blue            { color: $blue;                      }