// Color Vars

$blue:              #302ac9;
$green-light:       #d1ffe5;
$green:      		#169106;
$black: 			#000000;
$dark: 				#4D4D4D;
$gray3: 			#bcbfbf;
$gray2: 			#e2e6e9;
$white:				#ffffff;


// Helper Classes
.bg--blue               { background-color: $blue;           }

.color--blue            { color: $blue;                      }
.color--green-light     { color: $green-light;               }
.color--green     		{ color: $green;               		 }
.color--dark            { color: $dark;                      }
.color--black           { color: $black;                     }
.color--gray3           { color: $gray3;                     }
.color--gray2           { color: $gray2;                     }
.color--white           { color: $white;                     }
