$range: 10;

.mw-album-list__item
{
	position: relative;
	padding: 0.75rem 0;
	background-color: transparent;
	border-bottom: 1px solid transparent;

	@include transform(translate3d(0, 0%, 0));

	img 
	{
    	box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.2);
	}

	&:hover
	{

	}

	// transform pos
	@for $i from -$range through $range 
	{
		&.delta__#{$i}
		{
			@include animation(moveY_#{$i} 1s 1 $easeInOutCirc, green_#{$i} 1s 1 $easeInOutCirc);
		}
	}

	@include transition(background-color $t2 ease-out)
}

// move Y animation 
@for $i from -$range through $range {
	@-moz-keyframes moveY_#{$i} {
	  from {
	  	@include transform(translate3d(0, $i * 100%, 0));
	  }
	  to {
	    @include transform(translate3d(0, 0, 0));
	  }
	}
	@-o-keyframes moveY_#{$i} {
	  from {
	  	@include transform(translate3d(0, $i * 100%, 0));
	  }
	  to {
	    @include transform(translate3d(0, 0, 0));
	  }
	}
	@keyframes moveY_#{$i} {
	  from {
	  	@include transform(translate3d(0, $i * 100%, 0));
	  }
	  to {
	    @include transform(translate3d(0, 0, 0));
	  }
	}
}

// COLOR positive
@for $i from 1 through $range {
	@-moz-keyframes green_#{$i} {
	  from {
	  	background-color: rgba($green-light, 0.1);
	  }
	  to {
	    background-color: transparent;
	  }
	}
	@-o-keyframes green_#{$i} {
	  from {
	  	background-color: rgba($green-light, 0.1);
	  }
	  to {
	    background-color: transparent;
	  }
	}
	@keyframes green_#{$i} {
	  from {
	  	background-color: rgba($green-light, 0.1);
	  }
	  to {
	    background-color: transparent;
	  }
	}
}

// COLOR negative
// @for $i from -$range through -1 {
// 	@-moz-keyframes green_#{$i} {
// 	  from {
// 	  	background-color: rgba($gray2, 0.1);
// 	  }
// 	  to {
// 	    background-color: transparent;
// 	  }
// 	}
// 	@-o-keyframes green_#{$i} {
// 	  from {
// 	  	background-color: rgba($gray2, 0.1);
// 	  }
// 	  to {
// 	    background-color: transparent;
// 	  }
// 	}
// 	@keyframes green_#{$i} {
// 	  from {
// 	  	background-color: rgba($gray2, 0.1);
// 	  }
// 	  to {
// 	    background-color: transparent;
// 	  }
// 	}
// }