$range: 30;

.mw-album-list__item
{
	position: relative;
	padding: 0.75rem 0 0.65rem;
	background-color: transparent;
	border: 1px solid transparent;

	@include transform(translate3d(0, 0%, 0));

	&__img 
	{
		position: relative;
    box-shadow: 0px 1px 22px 0 rgba(44, 44, 44, 0.2);

		// border: 1px solid transparent;
		&::after 
		{
			position: absolute;
			top: -2px;
			left: -2px;
			width: 50px;
			height: 50px;

			border: 1px solid $purple;

			opacity: 0;
			content: '';

			@include transition(opacity 1s easeIn);
		}

		@include transform(translateY(-4px));

		&:hover
		{
			cursor: pointer;
			background: #fdfdfd;
			box-shadow: 0px 8px 26px 0 rgba(44, 44, 44, 0.15);
			// border: 1px solid $purple;

			&::after
			{
				opacity: 1;
			}

			@include transform(translateY(-8px));
			@include transition(all 0.1s $easeBounce);
		}
		&:active
		{
			box-shadow: 0px 0px 0px rgba(33, 33, 33, 0.10);
			// border: 1px solid $gray3;
			@include transform(translateY(5px));
			@include transition(all 0.15s $easeBounce);
		}

		&:not(:active),
		&:hover:not(:active)
		{
			@include transition(all $t3 $easeBounce);
		}

		@include transition(all 2s $easeBounce);
	}

	&__up
	{
		width: 46px;
		height: 46px;

		line-height: 33px;
		text-align: center;
		color: $dark;
		font-size: 14px;

		background: transparent;
	}

	// transform pos
	@for $i from -$range through $range 
	{
		&.delta__#{$i}
		{
			@include animation(moveY_#{$i} 0.817s 1 $easeInOutCirc, green_#{$i} 0.817s 1 $easeInOutCirc);

			&.item--clicked
			{
				@include animation(clicked 0.817s 1 $easeInOutCirc, moveY_#{$i} 0.817s 1 $easeInOutCirc, green_#{$i} 0.817s 1 $easeInOutCirc);
			}
		}
	}

	@include transition(background-color $t2 ease-out);
}

// CLICK
@-moz-keyframes clicked {
  from {
  	border: 1px solid rgba($green, 0.5);
  }
  to {
    border: 1px solid transparent;
  }
}
@-o-keyframes clicked {
  from {
  	border: 1px solid rgba($green, 0.5);
  }
  to {
    border: 1px solid transparent;
  }
}
@keyframes clicked {
  from {
  	border: 1px solid rgba($green, 0.5);
  }
  to {
    border: 1px solid transparent;
  }
}

// move Y animation 
@for $i from -$range through $range {
	@-moz-keyframes moveY_#{$i} {
	  from {
	  	@include transform(translate3d(0, $i * 100%, 0));
	  }
	  to {
	    @include transform(translate3d(0, 0, 0));
	  }
	}
	@-o-keyframes moveY_#{$i} {
	  from {
	  	@include transform(translate3d(0, $i * 100%, 0));
	  }
	  to {
	    @include transform(translate3d(0, 0, 0));
	  }
	}
	@keyframes moveY_#{$i} {
	  from {
	  	@include transform(translate3d(0, $i * 100%, 0));
	  }
	  to {
	    @include transform(translate3d(0, 0, 0));
	  }
	}
}

// COLOR positive
@for $i from 1 through $range {
	@-moz-keyframes green_#{$i} {
	  from {
	  	background-color: rgba($green-light, 0.1);
	  }
	  to {
	    background-color: transparent;
	  }
	}
	@-o-keyframes green_#{$i} {
	  from {
	  	background-color: rgba($green-light, 0.1);
	  }
	  to {
	    background-color: transparent;
	  }
	}
	@keyframes green_#{$i} {
	  from {
	  	background-color: rgba($green-light, 0.1);
	  }
	  to {
	    background-color: transparent;
	  }
	}
}